PORT=7000
AWS_ACCESS_KEY_ID= KEY HERE >>>>>>
AWS_SECRET_ACCESS_KEY= SECRET HERE >>>>>
CLOUD_NAME=sgp1.digitaloceanspaces.com
BUCKET_NAME=avocet
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=